:root {
  --content-padding: calc(0.5rem + 0.5vh);
  --content-padding-res: clamp(
    calc(0.5rem + min(0.5vw, 0.5vh)),
    1rem,
    calc(0.5rem + max(0.75vw, 0.75vh))
  );

  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-item-gap: calc(1rem + 0.5vw);

  --main-font-size: calc(0.75rem + 1vw);

  --btn-min-h: clamp(min(5svw, 5svh), 3rem + 1vw, max(10svw, 10svh));
  --d-pad-btn-size: calc(var(--content-padding) * 2 + 0.3rem);
  --btn-md: calc(var(--d-pad-btn-size) + 0.3rem * 2);

  --bg-color: #ffe5f3;

  --blue-100: #e6edf0;
  --blue-400: #0a8dfb;
  --blue-500: #1a28a0;
  --blue-600: #586177;
  --blue-700: #3b4554;
  --blue-800: #020e13;

  --purple-400: #5634b4;
  --purple-500: #412491;

  --green-400: #4fc59a;

  --red-400: #c13b39;

  --blue-shading: repeating-radial-gradient(
    #020e13 0 15%,
    #051f2a 0 20%,
    #083244 20% 25%,
    #0b455e 25% 30%,
    #0f5c7e 30% 35%,
    #126e97 35% 40%,
    #1581b1 40% 45%,
    #1891c6 45% 50%,
    #1a9ed8 50% 55%,
    #1ca9e7 55% 60%,
    #1cb0f1 65% 75%,
    transparent
  );

  --blue-smooth-shading: repeating-radial-gradient(
    #020e13 0 15%,
    #051f2a 0 20%,
    #083244 23% 25%,
    #0b455e 28% 30%,
    #0f5c7e 33% 35%,
    #126e97 38% 40%,
    #1581b1 43% 45%,
    #1891c6 48% 50%,
    #1a9ed8 53% 55%,
    #1ca9e7 58% 60%,
    #1cb0f1 65% 75%,
    transparent
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: var(--main-font-size);
}

body {
  display: grid;
  grid-template-columns: 0;
  place-items: center;

  min-height: 100svh;
  background-color: var(--bg-color);
}

button {
  border: 0.05rem solid black;
  padding: var(--content-padding);
  cursor: pointer;
}

.xl {
  min-height: var(--btn-min-h);
}

.display-none {
  display: none !important;
}

button:hover,
button:focus-within {
  background-color: #d0d0d0;
}

.console {
  display: grid;
  grid-area: 1 / 2;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--section-item-gap);

  padding: var(--section-padding);
  border-radius: 1rem;
  border: 0.15rem solid var(--blue-800);

  background-color: var(--blue-400);

  box-shadow:
    -0.05rem -0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.05) inset,
    -0.1rem -0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1) inset,
    -0.2rem -0.2rem 0.1rem 0.15rem rgba(0, 0, 0, 0.15) inset,
    -0.4rem -0.4rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2) inset,
    0.2rem 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.25);
}

.move-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-self: center;

  box-shadow: 0rem 0rem 0.05rem 0.05rem rgb(0, 0, 0, 0.35);
  border: 0.15rem solid var(--blue-800);
  background: var(--blue-shading);
  border-radius: 50%;
  padding: 1rem;
}

.move-side > button {
  background-color: var(--blue-600);
  border: 0.15rem solid var(--blue-600);
  box-shadow: 0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

button[data-position="top"] {
  grid-area: 1 / 2;
  border-top-color: var(--blue-100);
}

button[data-position="top"]:hover {
  border-left-color: color-mix(in srgb, var(--blue-700), var(--blue-600));
  border-right-color: color-mix(in srgb, var(--blue-700), var(--blue-600));

  box-shadow:
    0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7),
    inset 0rem -0.25rem 0.25rem 0.1rem color-mix(in srgb, var(--blue-700), var(--blue-600));
}

button[data-position="top"]:active {
  border-left-color: var(--blue-600);
  border-right-color: var(--blue-600);

  box-shadow: 0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

button[data-position="right"] {
  grid-area: 2 / 3;
  border-top-color: var(--blue-100);
  border-bottom-color: var(--blue-700);

  /* to cover the gap between right and bottom btns */
  box-shadow: 0.025rem 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.7);
}

button[data-position="right"]:hover {
  box-shadow:
    0.025rem 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.7),
    inset 0.25rem 0rem 0.25rem 0.1rem
      color-mix(in srgb, var(--blue-700), var(--blue-600));
}

button[data-position="right"]:active {
  box-shadow: 0.025rem 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.7);
}

div[data-position="middle"] {
  background: var(--blue-600);
  grid-area: 2 / 2;

  display: flex;

  z-index: 1;
}

div.circle {
  height: 100%;
  flex: 1;
  background-color: var(--blue-700);
  border-radius: 50%;
}

button[data-position="bottom"] {
  grid-area: 3 / 2;
  border-bottom-color: var(--blue-700);
}

button[data-position="bottom"]:hover {
  border-left-color: color-mix(in srgb, var(--blue-700), var(--blue-600));
  border-right-color: color-mix(in srgb, var(--blue-700), var(--blue-600));

  box-shadow:
    0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7),
    inset 0rem 0.25rem 0.25rem 0.1rem
      color-mix(in srgb, var(--blue-700), var(--blue-600));
}

button[data-position="bottom"]:active {
  border-left-color: var(--blue-600);
  border-right-color: var(--blue-600);

  box-shadow: 0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

button[data-position="left"] {
  grid-area: 2 / 1;
  border-top-color: var(--blue-100);
  border-bottom-color: var(--blue-700);
}

button[data-position="left"]:hover {
  box-shadow:
    0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7),
    inset -0.25rem 0rem 0.25rem 0.1rem color-mix(in srgb, var(--blue-700), var(--blue-600));
}

button[data-position="left"]:active {
  box-shadow: 0.075rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

.screen-frame {
  display: grid;

  background-color: var(--blue-600);
  padding: calc(var(--section-padding) / 2) var(--section-padding);

  border: 0.15rem solid var(--blue-800);
  border-radius: 0.5rem;
  border-bottom-right-radius: 2rem;
}

.screen {
  position: relative;
  display: grid;

  min-height: calc(var(--btn-min-h) * 3.5);
  border: 0.15rem solid var(--blue-800);
  border-radius: 0.25rem;

  background-color: var(--purple-500);
}

.menu-screen .screen-focus-item {
  border: 0.15rem solid var(--green-400);
  border-radius: 0.25rem;
  padding: calc(var(--content-padding) / 4);
  background-color: var(--blue-500);
}

.screen-item-1 {
  grid-area: 1 / 2;
}

.screen-item-2 {
  grid-area: 2 / 2;
}

.screen-item-3 {
  grid-area: 3 / 2;
}

.screen-item-4 {
  grid-area: 4 / 2;
}

.play-screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.menu-screen {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  /* gap: calc(var(--section-item-gap) / 2); */
  align-content: center;

  margin: var(--content-padding-res);
  border: 0.15rem solid var(--green-400);
  border-radius: 0.25rem;

  text-align: center;
}

.menu-screen > button {
  color: var(--blue-100);
  font-size: calc(var(--main-font-size) / 1.25);
  border: 0.15rem solid var(--purple-500);
  border-radius: 0.25rem;
  padding: calc(var(--content-padding) / 4);
  background-color: inherit;
}

.title {
  transform: translate(-50%, -50%);
  left: 50%;
}

.close-btn-modal {
  transform: translate(
    calc(
      0px - var(--content-padding-res) / 2 + calc(var(--content-padding) / 8)
    ),
    -50%
  );
  right: 0;
}

.screen .absolute {
  font-size: calc(var(--main-font-size) / 1.5);
  text-align: center;
  color: var(--blue-100);

  position: absolute;

  border: 0.15rem solid var(--green-400);
  border-radius: 0.25rem;
  padding: calc(var(--content-padding) / 4);
  background-color: var(--red-400);
}

.submit-side {
  display: grid;
  position: relative;
  place-items: center;
}

.submit-side > .close-btn-console {
  position: absolute;
  right: 5%;
  top: calc(var(--btn-md));

  background-color: var(--blue-600);
  border-radius: 0.5rem;

  min-width: calc(var(--btn-md));
  min-height: calc(var(--btn-md) / 2);
}

.submit-side > .click-btn-console {
  min-height: var(--btn-md);
  min-width: var(--btn-md);
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    var(--blue-700) 50%,
    var(--blue-700) 55%,
    var(--blue-600) 60%
  );
}

.submit-side > button {
  padding: 0;
  border: 0.15rem solid var(--blue-800);

  background-color: var(--blue-600);

  box-shadow:
    inset -0.05rem -0.1rem 0.05rem rgb(0, 0, 0, 0.35),
    inset 0rem 0.125rem 0rem 0rem var(--blue-100),
    0rem 0rem 0.05rem 0.05rem rgb(0, 0, 0, 0.35);
}

.submit-side > button:hover {
  background-color: var(--blue-600);

  box-shadow:
    inset -0.05rem -0.1rem 0.05rem rgb(0, 0, 0, 0.75),
    inset 0rem 0.1rem 0rem 0rem var(--blue-100),
    0rem 0rem 0.05rem 0.05rem rgb(0, 0, 0, 0.35);
}

.submit-side > button:active {
  box-shadow:
    inset -0.05rem -0.1rem 0.05rem rgb(0, 0, 0, 0.35),
    inset 0rem 0.125rem 0rem 0rem var(--blue-100),
    0rem 0rem 0.05rem 0.05rem rgb(0, 0, 0, 0.35);
}

@media screen and (max-width: 1200px) {
  .console {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .screen-frame {
    grid-area: 1 / span 2;
  }
}
