:root {
  --content-padding: calc(0.5rem + 0.5vh);

  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-gap: calc(3rem + 0.5vh);
  --section-item-gap: calc(1rem + 0.5vw);

  --main-font-size: calc(0.75rem + 1vw);

  --btn-min-w: calc(3rem + 1vw);

  --bg-color: #ffe5f3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: var(--main-font-size);
}

body {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  place-items: center;

  min-height: 100svh;
  background-color: var(--bg-color);
}

button {
  border: 1px solid black;
  padding: var(--content-padding);
  cursor: pointer;
}

.xl {
  min-width: var(--btn-min-w);
  min-height: var(--btn-min-w);
}

button:hover {
  background-color: #ffb6b624;
}

.console {
  display: grid;
  grid-area: 1 / 2;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--section-item-gap);
  padding: var(--section-padding);
  background-color: indianred;
}

.move-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-self: center;
}

button[data-position="left"] {
  grid-area: 2 / 1;
}

button[data-position="top"] {
  grid-area: 1 / 2;
}

button[data-position="middle"] {
  grid-area: 2 / 2;
}

button[data-position="right"] {
  grid-area: 2 / 3;
}

button[data-position="bottom"] {
  grid-area: 3 / 2;
}

.screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.submit-side {
  display: grid;
  place-self: center;
}
