:root {
  --content-padding: calc(0.5rem + 0.5vh);

  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-gap: calc(3rem + 0.5vh);
  --section-item-gap: calc(1rem + 0.5vw);

  --main-font-size: calc(0.75rem + 1vw);

  --btn-min-w: min(calc(3rem + 1vw), 10svw);

  --bg-color: #ffe5f3;

  --blue-100: #e6edf0;
  --blue-600: #586177;
  --blue-800: #020e13;
  --blue-800_alpha: color-mix(in srgb, var(--blue-800), transparent 66%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: var(--main-font-size);
}

body {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  place-items: center;

  min-height: 100svh;
  background-color: var(--bg-color);
}

button {
  border: 1px solid black;
  padding: var(--content-padding);
  cursor: pointer;
}

.xl {
  min-height: var(--btn-min-w);
}

button:hover,
button:focus-within {
  background-color: #d0d0d0;
}

.console {
  display: grid;
  grid-area: 1 / 2;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--section-item-gap);

  padding: var(--section-padding);
  border-radius: 2rem;
  border: 0.08rem solid var(--blue-800);

  background: linear-gradient(
      278deg,
      rgba(142, 92, 250, 0.2) 12.18%,
      rgba(239, 91, 206, 0) 85.73%
    ),
    #ff9494;

  box-shadow:
    -4px -4px 10px 4px rgba(0, 0, 0, 0.25) inset,
    4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.move-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-self: center;
}

.move-side > button {
  background: var(--blue-600);
  border: 3px solid var(--blue-600);
  box-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.7);
}

button[data-position="top"] {
  grid-area: 1 / 2;
  border-top-color: var(--blue-100);

  border-bottom: 0;
}

button[data-position="right"] {
  grid-area: 2 / 3;
  border-top-color: var(--blue-100);
  border-bottom-color: var(--blue-800_alpha, #020e1369);

  /* to cover the gap between right and bottom btns */
  box-shadow: 0.5px 1px 2px 1px rgba(0, 0, 0, 0.7);
}

div[data-position="middle"] {
  background: var(--blue-600);
  grid-area: 2 / 2;

  z-index: 1;
}

button[data-position="bottom"] {
  grid-area: 3 / 2;
  border-bottom-color: var(--blue-800_alpha, #020e1369);
}

button[data-position="left"] {
  grid-area: 2 / 1;
  border-top-color: var(--blue-100);
  border-bottom-color: var(--blue-800_alpha, #020e1369);
}

.screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.submit-side {
  display: grid;
  place-self: center;
}

@media screen and (max-width: 540px) {
  .console {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .screen {
    grid-area: 1 / span 2;
  }
}
